<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>autores</h1>
            <div class="cards">
                <div class="card">
                    <div class="light"></div>
                    <img src="img/wallet.png" alt="wallet"/>
                    <h2>Set up your wallet</h2>
                    <p>
                        NFTs ate transforming the way commerce is transacted
                    </p>
                </div>

                <div class="card">
                    <div class="light"></div>
                    <img src="img/camera.png" alt="camera"/>
                    <h2>Create your collection</h2>
                    <p>
                        NFTs ate transforming the way commerce is transacted
                    </p>
                </div>

                <div class="card">
                    <div class="light"></div>
                    <img src="img/gift.png" alt="gift"/>
                    <h2>Add your NFTS</h2>
                    <P>NFTs ate transforming the way commerce is transacted
                    </P>
                </div>
            </div >
    </section>

    <section class="artists">
        <div class="heading">
            <h1>Our top artists</h1>
            <p>
                NFTs are transforming the way commerce is transacted, contracts are value is transferred. every tree in the forest knows about creating value and value is transferred every tout reciprocity.
            </p>
        </div>
        <div class="cards">
            <div class="card">
                <img src="img/smoke1.jpg" class="bg-img"/>
                <img src="img/user1.jpg" class="profile-img"/>
                <h2>Esther Howard</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    NFTs are transforming the way commerce
                </p>
                <button class="card-btn">
                    Follow
                </button>
            </div>
            <div class="card">
                <img src="img/smoke2.jpg" class="bg-img">
                <img src="img/user2.jpg" class="profile-img"/>
                <h2>Jane Cooper</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    NFTs are transforming the way commerce
                </p>
                <button class="card-btn">
                    Follow
                </button>
            </div>
            <div class="card">
                <img src="img/smoke3.jpg" class="bg-img">
                <img src="img/user3.jpg" class="profile-img"/>
                <h2>Wade Warren</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    NFTs are transforming the way commerce
                </p>
                <button class="card-btn">
                    Follow
                </button>
            </div>
            <div class="card">
                <img src="img/smoke4.jpg" class="bg-img">
                <img src="img/user4.jpg" class="profile-img"/>
                <h2>Jenny wilson</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    NFTs are transforming the way commerce
                </p>
                <button class="card-btn">
                    Follow
                </button>
            </div>
        </div>
    </section>
    
</body>
</html>