<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Autores</title>
        <link rel="stylesheet" href="../css/autor.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
</head>
<body>
    <header>
        <nav id="navbar"></nav>
    </header>
    <div class="background"></div>
    <div class="containerInfo">
        <div class="infoTitulo">
            <h2 id="tituloinfo">Que hacemos realmente?</h2>
        </div>
        <p id="parrafoinfo">Los NFT están transformando la forma en que se realizan las transacciones comerciales,
             los contratos son la forma en que se transfiere el valor. Dedicamos tiempo y pasión a facilitar la forma en la que interactuas con este mundo que 
            evoluciona a pasos gigantes.</p>
    </div>
    <div class="containertarj">
        <div class="container">
            <div class="box">
                <img src="../img\\logos/Wallet.png" class="imgInfo">
                <span class="tittle">Configura tu billetera</span>
                <p class="parrafoTarj">Creamos billeteras para usuarios que no tienen una</p> 
            </div>
          </div>
          <div class="container">
            <div class="box">
                <img src="../img\\logos/Camara.png" class="imgInfo">
                <span class="tittle">Crea tu colección</span>
                <p class="parrafoTarj">Armá una coleccion unica de diferentes NFTs</p> 
            </div>
          </div>
          <div class="container">
            <div class="box">
                <img src="../img\\logos/Regalo.png" class="imgInfo">
                <span class="tittle">Agrega tus NFT</span>
                <p class="parrafoTarj">Permite a otros usuarios adquirir tus NFT a través de diferentes metodos de pago</p> 
            </div>
          </div>
  </div>
  <section>
    <div class="artists">
        <h1 id="tittleArtist">Nuestros mejores artistas</h1>
        <div class="cards">
            <div class="card">    
                <img src="https://www.shutterstock.com/shutterstock/videos/3442441839/thumb/1.jpg?ip=x480" class="fondocard">            
                <img src="https://avatars.githubusercontent.com/u/134113338?v=4" class="profile-img"/>
                <h2>Lucas Cardona</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    Estudiante Codo a Codo 2024
                </p>
                <a href="https://github.com/Lcardona7" target="_blank">
                    <img src="../img\\logos/icons8-github-blanco.png" class="git-btn1">
                </a>     
            </div>
            <div class="card">
                <img src="https://img.freepik.com/fotos-premium/explosion-colores-fondo-fluorescente-pintar-agua-textura-nube-humo-vibrante-salpicadura-vapor-rosa-magenta-azul-neon-brillante-oscuridad_279525-9328.jpg" class="fondocard">
                <img src="https://avatars.githubusercontent.com/u/93839681?v=4" class="profile-img"/>
                <h3>Emmanuel Biazzetti</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    Estudiante Codo a Codo 2024
                </p>
                <a href="https://github.com/EmmaBia93" target="_blank">
                    <img src="../img\\logos/icons8-github-blanco.png" class="git-btn1">
                </a>     
            </div>
            <div class="card">
                <img src="https://img.freepik.com/fotos-premium/colorida-forma-ondulada-colores-son-predominantemente-azul-rosa-naranja-morado-imagen-tiene-textura-suave-colores-combinan-perfeccion_972440-287.jpg" class="fondocard">
                <img src="https://avatars.githubusercontent.com/u/165584446?v=4" class="profile-img"/>
                <h2>Johan Riascos</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    Estudiante Codo a Codo 2024
                </p>
                <a href="https://github.com/DevJohanR" target="_blank">
                    <img src="../img\\logos/icons8-github-blanco.png" class="git-btn1">
                </a>     
            </div>
            <div class="card">
                <img src="https://p4.wallpaperbetter.com/wallpaper/269/45/228/color-burst-pink-red-blue-abstract-hd-wallpaper-preview.jpg" class="fondocard">
                <img src="https://avatars.githubusercontent.com/u/166416873?v=4" class="profile-img"/>
                <h2>Cintia</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    Estudiante Codo a Codo 2024
                </p>
                <a href="https://github.com/Cintia0802" target="_blank">
                    <img src="../img\\logos/icons8-github-blanco.png" class="git-btn1">
                </a>            
            </div>
        </div>
    </div>
  </section>
  <footer id="id-footer" class="footer"></footer>
  
  <script src="../js/footer.js"></script>
  <script src="../js/script.js"></script>
  
</body>
</html>