<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Autores</title>
        <link rel="stylesheet" href="../css/autor.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
</head>
<body>
    <header>
        <nav id="navbar"></nav>
      
    </header>
    <div class="background"></div>
    <div class="containerInfo">
        <div class="infoTitulo">
            <h2 id="tituloinfo">What we actually do ?</h2>
        </div>
        <p id="parrafoinfo">NFTs are transforming the way commerce is transacted, contracts are value is transferred.
             every tree in the forest knows about creating value and value is transferred every tout reciprocity.</p>
        
    </div>
    <div class="containertarj">
        <div class="container">
            <div class="box">
                <img src="D:\Escritorio\CodoACodo\Codo-a-Codo-Front-End2024-1\templates\img\Wallet.png" class="imgInfo">
                <span class="tittle">Set up your wallet</span>
                <p class="parrafoTarj">NFTs are transforming the way commerce is transacted</p> 
            </div>
          </div>
          <div class="container">
            <div class="box">
                <img src="D:\Escritorio\CodoACodo\Codo-a-Codo-Front-End2024-1\templates\img\Camara.png" class="imgInfo">
                <span class="tittle">Create your collection</span>
                <p class="parrafoTarj">NFTs are transforming the way commerce is transacted</p> 
            </div>
          </div>
          <div class="container">
            <div class="box">
                <img src="D:\Escritorio\CodoACodo\Codo-a-Codo-Front-End2024-1\templates\img\Regalo.png" class="imgInfo">
                <span class="tittle">Add your NFTS</span>
                <p class="parrafoTarj">NFTs are transforming the way commerce is transacted</p> 
            </div>
          </div>
  </div>
  <section>
    <div class="artists">
        <h1 id="tittleArtist">OUR TOP ARTISTS</h1>
        <p id="artistinfo">NFTs are transforming the way commerce is transacted, contracts are value is transferred.
            every tree in the forest knows about creating value and value is transferred every tout reciprocity.</p>
        <div class="cards">
            <div class="card">    
                <img src="https://www.shutterstock.com/shutterstock/videos/3442441839/thumb/1.jpg?ip=x480" class="fondocard">            
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_DdHQi7q5LFK5L6sy3gDRnHL1GcB80K3VKYh1Is73DQ&s" class="profile-img"/>
                <h2>John Howard</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    NFTs are transforming the way commerce
                </p>
                <button class="card-btn">
                    Follow
                </button>
            </div>
            <div class="card">
                <img src="https://img.freepik.com/fotos-premium/explosion-colores-fondo-fluorescente-pintar-agua-textura-nube-humo-vibrante-salpicadura-vapor-rosa-magenta-azul-neon-brillante-oscuridad_279525-9328.jpg" class="fondocard">
                <img src="https://www.dzoom.org.es/wp-content/uploads/2011/08/photographer-1773331_1280.jpg" class="profile-img"/>
                <h2>Jane Cooper</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    NFTs are transforming the way commerce
                </p>
                <button class="card-btn">
                    Follow
                </button>
            </div>
            <div class="card">
                <img src="https://img.freepik.com/fotos-premium/colorida-forma-ondulada-colores-son-predominantemente-azul-rosa-naranja-morado-imagen-tiene-textura-suave-colores-combinan-perfeccion_972440-287.jpg" class="fondocard">
                <img src="https://img.freepik.com/foto-gratis/worldface-hombre-espanol-fondo-blanco_53876-139733.jpg" class="profile-img"/>
                <h2>Wade Warren</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    NFTs are transforming the way commerce
                </p>
                <button class="card-btn">
                    Follow
                </button>
            </div>
            <div class="card">
                <img src="https://p4.wallpaperbetter.com/wallpaper/269/45/228/color-burst-pink-red-blue-abstract-hd-wallpaper-preview.jpg" class="fondocard">
                <img src="https://cdnb.artstation.com/p/assets/images/images/021/617/383/large/christine-stapelmann-synthwarrior.jpg?1572352498" class="profile-img"/>
                <h2>Jenny wilson</h2>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>
                        5.0
                    </span>
                </div>
                <p>
                    NFTs are transforming the way commerce
                </p>
                <button class="card-btn">
                    Follow
                </button>
            </div>
        </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>Compañía</h4>
         <ul>
           <li><a href="#">Sobre Nosotros</a></li>
           <li><a href="#">Contacto</a></li>
   
         </ul>
       </div>
       <div class="footer-col">
         <h4>Pagos</h4>
         <ul>
           <li><a href="#">Reintegros</a></li>
           <li><a href="#">Métodos de Pagos</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Tienda</h4>
         <ul>
           <li><a href="#">Explorar</a></li>
           <li><a href="#">Inicio</a></li>
           <li><a href="#">Autores</a></li>
           
         </ul>
       </div>
       <div class="footer-col">
         <h4>Síguenos</h4>
         <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </div>
     </div>
    </div>
 </footer>
  <script src="../javascript/script.js"></script>
</body>
</html>