<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
  <header>
    <nav id="navbar"></nav>
  
</header>
    <main>
        <div class="contenedor">
            <form >
                <h2>Formulario de Contacto</h2>
                <fieldset>
                    <legend>INFORMACIÓN DE CONTACTO</legend>
                    <div class="input-box">
                        <label for="nombre">Nombre
                            <input type="text" id="nombre" placeholder="Juan" required>
                        </label>
                    </div>
                    <div class="input-box">
                        <label for="apellido">Apellido
                            <input type="text" id="apellido" placeholder="Perez" required>
                        </label>
                    </div>
                    <div class="input-box">
                        <label for="numero">Telefono
                            <input type="number" id="numero" placeholder="114565856" required>
                        </label>
                    </div>
                    <div class="input-box">
                        <label for="email">Email
                            <input type="email" id="email" placeholder="juanperez@gmail.com" required>
                        </label>
                    </div>
            </fieldset>
                <div class="input-box">
                    <label for="check"><strong>Enviame Novedades</strong> 
                        <input type="checkbox" class="checkbox" id="check">
                    </label>
                </div>
                
                <div class="btn">
                    <button id="myButton" class="btn-hover btn-color" name="submitForm" type="submit">Enviar</button>
                </div>
            

            </form>
        </div>


    </main>

    <footer class="footer">
        <div class="container">
         <div class="row">
           <div class="footer-col">
             <h4>Compañía</h4>
             <ul>
               <li><a href="#">Sobre Nosotros</a></li>
               <li><a href="#">Contacto</a></li>
       
             </ul>
           </div>
           <div class="footer-col">
             <h4>Pagos</h4>
             <ul>
               <li><a href="#">Reintegros</a></li>
               <li><a href="#">Métodos de Pagos</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>Tienda</h4>
             <ul>
               <li><a href="#">Explorar</a></li>
               <li><a href="#">Inicio</a></li>
               <li><a href="#">Autores</a></li>
               
             </ul>
           </div>
           <div class="footer-col">
             <h4>Síguenos</h4>
             <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
               <a href="#"><i class="fab fa-instagram"></i></a>
               <a href="#"><i class="fab fa-linkedin-in"></i></a>
             </div>
           </div>
         </div>
        </div>
     </footer>
    
     <script src="../javascript/script.js"></script>
</body>
</html>