<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/explorar.css">
    <link rel="stylesheet" href="../css/footer.css">
    
    
    <title>Document</title>
</head>

<body>
    <header>
        <nav id="navbar"></nav>
      
    </header>

    <main>
        <section class="featured">
            <div class="heading">
                <h1>Obras de Arte Destacadas</h1>
            </div>

            <div class="cards">
                <div class="card">
                    <img class="art-img" src="../img/logos/floraciónAndromeda.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Floración Andromeda</h2>
                    <div class="form_btn">
                        <a href="floracionAndromeda.html">
                            <button class="btn-hover btn-color" id="myButton" type="submit"  ><span>Ver Detalles</span></button>
                        </a>
                                                                    
                    </div>
                </div>
                

                <div class="card">
                    <img class="art-img" src="../img/logos/fragmentoAndromar.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Fragmento Andromar</h2>
                        <div class="form_btn">
                            <a href="fragmentoAndromar.html">
                                <button class="btn-hover btn-color" id="myButton" type="submit"  ><span>Ver Detalles</span></button>
                            </a>
                        </div>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/gemAzazel.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Gem Azazel</h2>
                    <div class="form_btn">
                        <a href="gemAzazel.html">
                            <button class="btn-hover btn-color" id="myButton" type="submit"  ><span>Ver Detalles</span></button>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/luzAstral.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Luz Astral</h2>
                    <div class="form_btn">
                        <a href="luzAstral.html">
                            <button class="btn-hover btn-color" id="myButton" type="submit"  ><span>Ver Detalles</span></button>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/TecnogénesisExoplanetaria.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Tecnogénesis Exoplanetaria</h2>
                    <div class="form_btn">
                        <a href="tecnogenesisExoplanetaria.html">
                            <button class="btn-hover btn-color" id="myButton" type="submit"  ><span>Ver Detalles</span></button>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/totemGaláctico.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Totam Galáctico</h2>
                    <div class="form_btn">
                        <a href="totemGalactico.html">
                            <button class="btn-hover btn-color" id="myButton" type="submit"  ><span>Ver Detalles</span></button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

   
    </main>

    <footer class="footer" id="id-footer"> 
    </footer>

    <script src="../js/footer.js"></script>
    <script src="../js/script.js"></script>
    <script src="https://kit.fontawesome.com/a81bcfc588.js" crossorigin="anonymous"></script>

</body>
</html>