<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/explorar.css">
    <title>Document</title>
</head>

<body>
    <main>
        <section class="featured">
            <div class="heading">
                <h1>Obras de Arte Destacadas</h1>
            </div>

            <div class="cards">
                <div class="card">
                    <img class="art-img" src="../img/logos/floraciónAndromeda.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Floración Andromeda</h2>
                    <div class="favourites">
                        <div>
                            <img src="../img/logos/Usuario1.jpg" alt="artworks">
                            <img src="../img/logos/Usuario2.jpg" alt="artworks">
                            <img src="../img/logos/Usuario3.jpg" alt="artworks">
                            <small>
                                2+
                            </small>
                        </div>
                        <div>
                            <span>Marcar esta como Favorita</span>
                        </div>
                    </div>
                    <div class="bid">
                        <div>
                            <p>Oferta Actual</p>
                            <h3>
                                <i class="fab fa-ethereum"></i>
                                2.65ETH
                            </h3>
                        </div>

                        <div>
                            <p>Termina en</p>
                            <h3>10H.33M</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/fragmentoAndromar.jpeg">
                    <div class="light"></div>
                    <h2 class="art-title">Fragmento Andromar</h2>
                    <div class="favourites">
                        <div>
                            <img src="../img/logos/Usuario1.jpg" alt="artworks">
                            <img src="../img/logos/Usuario2.jpg" alt="artworks">
                            <img src="../img/logos/Usuario3.jpg" alt="artworks">
                            <small>
                                2+
                            </small>
                        </div>
                        <div>
                            <span>Marcar esta como Favorita</span>
                        </div>
                    </div>
                    <div class="bid">
                        <div>
                            <p>Oferta Actual</p>
                            <h3>
                                <i class="fab fa-ethereum"></i>
                                2.65ETH
                            </h3>
                        </div>

                        <div>
                            <p>Termina en</p>
                            <h3>10H.33M</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/gemAzazel.jpeg">
                    <div class="light"></div>
                    <h2 class="art-title">Gem Azazel</h2>
                    <div class="favourites">
                        <div>
                            <img src="../img/logos/Usuario1.jpg" alt="artworks">
                            <img src="../img/logos/Usuario2.jpg" alt="artworks">
                            <img src="../img/logos/Usuario3.jpg" alt="artworks">
                            <small>
                                2+
                            </small>
                        </div>
                        <div>
                            <span>Marcar esta como Favorita</span>
                        </div>
                    </div>
                    <div class="bid">
                        <div>
                            <p>Oferta Actual</p>
                            <h3>
                                <i class="fab fa-ethereum"></i>
                                2.65ETH
                            </h3>
                        </div>

                        <div>
                            <p>Termina en</p>
                            <h3>10H.33M</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/luzAstral.jpeg">
                    <div class="light"></div>
                    <h2 class="art-title">Luz Astral</h2>
                    <div class="favourites">
                        <div>
                            <img src="../img/logos/Usuario1.jpg" alt="artworks">
                            <img src="../img/logos/Usuario2.jpg" alt="artworks">
                            <img src="../img/logos/Usuario3.jpg" alt="artworks">
                            <small>
                                2+
                            </small>
                        </div>
                        <div>
                            <span>Marcar esta como Favorita</span>
                        </div>
                    </div>
                    <div class="bid">
                        <div>
                            <p>Oferta Actual</p>
                            <h3>
                                <i class="fab fa-ethereum"></i>
                                2.65ETH
                            </h3>
                        </div>

                        <div>
                            <p>Termina en</p>
                            <h3>10H.33M</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/TecnogénesisExoplanetaria.jpeg">
                    <div class="light"></div>
                    <h2 class="art-title">Tecnogénesis Exoplanetaria</h2>
                    <div class="favourites">
                        <div>
                            <img src="../img/logos/Usuario1.jpg" alt="artworks">
                            <img src="../img/logos/Usuario2.jpg" alt="artworks">
                            <img src="../img/logos/Usuario3.jpg" alt="artworks">
                            <small>
                                2+
                            </small>
                        </div>
                        <div>
                            <span>Marcar esta como Favorita</span>
                        </div>
                    </div>
                    <div class="bid">
                        <div>
                            <p>Oferta Actual</p>
                            <h3>
                                <i class="fab fa-ethereum"></i>
                                2.65ETH
                            </h3>
                        </div>

                        <div>
                            <p>Termina en</p>
                            <h3>10H.33M</h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/totemGaláctico.jpeg">
                    <div class="light"></div>
                    <h2 class="art-title">Totem Galáctico</h2>
                    <div class="favourites">
                        <div>
                            <img src="../img/logos/Usuario1.jpg" alt="artworks">
                            <img src="../img/logos/Usuario2.jpg" alt="artworks">
                            <img src="../img/logos/Usuario3.jpg" alt="artworks">
                            <small>
                                2+
                            </small>
                        </div>
                        <div>
                            <span>Marcar esta como Favorita</span>
                        </div>
                    </div>
                    <div class="bid">
                        <div>
                            <p>Oferta Actual</p>
                            <h3>
                                <i class="fab fa-ethereum"></i>
                                2.65ETH
                            </h3>
                        </div>

                        <div>
                            <p>Termina en</p>
                            <h3>10H.33M</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <section class="Explore">
            <div class="grid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div>
                <h1>Explora nuestras mejores obras de Arte</h1>
                <p>
                    Las NFT han transformado la forma en que se realizan transacciones comerciales, se hacen cumplir los contratos, se realizan inversiones y se transfiere valor. Cada árbol del bosque sabe cómo crear valor y el valor se transfiere en total reciprocidad.
                </p>

                <div class="stats">
                    <div>
                        <small>Obras de Arte</small>
                        <h3>1305K</h3>
                        <p>Las NFT están transformando las formas en el comercio</p>
                    </div>
                    <div>
                        <small>Usuarios</small>
                        <h3>505K</h3>
                        <p>Las NFT están transformando las formas en el comercio</p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        
    </footer>
</body>
</html>