<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/explorar.css">
    
    
    <title>Document</title>
</head>

<body>
    <header>
        <nav id="navbar"></nav>
      
    </header>

    <main>
        <section class="featured">
            <div class="heading">
                <h1>Obras de Arte Destacadas</h1>
            </div>

            <div class="cards">
                <div class="card">
                    <img class="art-img" src="../img/logos/floraciónAndromeda.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Floración Andromeda</h2>
                    <button class="neon-button">Ver detalles</button>
                </div>
                

                <div class="card">
                    <img class="art-img" src="../img/logos/fragmentoAndromar.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Floración Andromeda</h2>
                    <button class="neon-button">Ver detalles</button>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/gemAzazel.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Floración Andromeda</h2>
                    <button class="neon-button">Ver detalles</button>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/luzAstral.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Floración Andromeda</h2>
                    <button class="neon-button">Ver detalles</button>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/TecnogénesisExoplanetaria.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Floración Andromeda</h2>
                    <button class="neon-button">Ver detalles</button>
                </div>

                <div class="card">
                    <img class="art-img" src="../img/logos/totemGaláctico.jpeg"/>
                    <div class="light"></div>
                    <h2 class="art-title">Floración Andromeda</h2>
                    <button class="neon-button">Ver detalles</button>
                </div>
            </div>
        </section>

   
    </main>

    <footer class="footer">
     
    </footer>

    <script src="../js/script.js"></script>
</body>
</html>