*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

/* Estilos adicionales para la visualización en móviles */
@media (max-width: 600px) {
    nav ul {
        background-color: #f4f4f4;
        margin: 0;
        width: 100%;
    }
}

/* Services Section */
 .services .heading {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;  
 }

 .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 10em 0 4em 0;
 }

 .services .card {
    padding: 1em;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    background: rgba(127, 127, 127, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
 }

 .services .card img {
    width: 8em;
    margin: -5em 0 1em 0;
 }

 .services .card .light {
    background: #48fc8b;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translate(-50%);
    filter: blur(15px);
    z-index: -1;
 }

/*Adding light color for all cards*/
.services .card:nth-child(1) .light {
    background: #bcb83d;
}

.services .card:nth-child(2) .light {
    background: #6e3dbc;
}

.services .card:nth-child(3) .light {
    background: #ef3636;
}

/* Artists Section */
.artists, .trial {
    text-align: center;
}

.artists .heading p {
    margin: 3em auto;
    max-width: 700px;
}

.artists .card {
    margin: 6em 0 4em 0;
    flex-wrap: wrap;
}

.artists .card {
    border: 1px #42a3c3 solid;
    background: radial-gradient(
        rgb(17, 68, 96),
        rgba(17, 68, 96, 0.5)
    );
    border-radius: 10px;
    position: relative;
    padding: 7em 1em 1em 1em;
    max-width: 16em;
}

.artists .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    border-radius: 10px;
}

.artists .profile-img {
    width: 5em;
    position: relative;
    border: 0.5em rgb(17, 68, 96) solid;
    border-radius: 50%;
    margin-bottom: 1em;
}

.artists .card p {
    margin: 1em 0 1.5em 0;
}

.stars {
    color: #ffb92d;
}

.card-btn {
    background: none;
    border: 1px #284b60 solid;
    width: 100%;
    padding: 1em 0;
    border-radius: 10px;
    color: #eee;
    cursor: pointer;
    transition: 0.3s;
}

.card-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Changing colors for the rest of the cards */

.artists .card:nth-child(2) {
    background: radial-gradient(
        rgb(30, 35, 99),
        rgba(30, 35, 99, 0.5)
    );
    border-color: #394b95;
}

.artists .card:nth-child(2) .profile-img {
    border-color: rgb(30, 35, 99);
}

.artists .card:nth-child(2) .card-btn {
    border-color: #353165;
}

.artists .card:nth-child(3) {
    background: radial-gradient(
        rgb(82, 22, 81),
        rgba(82, 22, 81, 0.5)
    );
    border-color: #bb3bad;
}

.artists .card:nth-child(3) .profile-img {
    border-color: rgb(82,22,81);
}

.artists .card:nth-child(3) .card-btn {
    border-color: #552e58;
}

.artists .card:nth-child(4) {
    background: radial-gradient(
        rgb(78, 13, 48),
        rgba(78, 13, 48, 0.5)
    );
    border-color: #b14d44;
}

.artists .card:nth-child(4) .profile-img {
    border-color: rgb(78, 13, 48);
}

.artists .card:nth-child(4) .card-btn {
    border-color: #472847;
}
