body{
   
    background: url("../img\\logos/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif; 
    
}


main .container {
    display: flex;
    flex-direction: column;
    align-items: center center;
    padding: 60px 40px;
    
}

form{
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px 0;

    
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #ddd;
    text-align: center;
    margin: 0;
    
}

.input-box {
    margin: 15px 20px;
}

input{
    background-color:transparent;
    width: 100%;
    
    box-sizing: border-box;
    padding: 6px 12px;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    color:#ddd;
    font-size: 1.1em;
    
}

input::placeholder{
    color: rgba(37, 37, 37,0.6);
}
input:focus {
    outline: none !important;
    border:3.2px solid rgba(87, 48, 155,0.5);
    box-shadow: 0 0 10px rgba(164, 119, 243,0.5);
  }


  
  /* Para eliminar los botos de arriba y abajo de un input tipo number */
  input[type=number] {
     appearance:textfield; }
/* fin de la edicion del input tipo number */

label{
    color: #ddd;
    font-size: 0.9em;
    line-height: 2;
    margin-left: 2px;
    font-size: 1.2em;
    
}

.checkbox{
    margin: 0;
    width: auto;
    height: 20px;
    accent-color: #BC7AFE;
    margin-left: 10px;
    
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center center;
    justify-content: center;
    min-height: 60vh;
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0.15);
    padding: 0 20px 20px 20px;
    margin: 30px;
  

}
legend{
    padding: 0 6px;
    font-family: sans-serif;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.3);;
}


.btn {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
}

button{
    border: none;
    background-image: linear-gradient(15deg, rgba(2,0,36,1) 20%, rgba(58,9,121,1) 50%, rgba(124,0,255,1) 100%);
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    font-size: 20px;
    padding: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button span{
    background-color: #111;
    padding: 7px 40px;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 25px;
  }
  
  button:hover span {
    background:none ;
    
    
  }
  button:hover {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2)
  }
  
  button:active {
    transform: scale(0.9);
    
  }

@media(max-width: 574px){
    .form {
        margin: 0 20px;
    }
    
  }