body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../img/logos/explor.webp);
    color: #fff;

}

main{
    padding: 100px;
}

h1, h2 {
    text-transform: uppercase;
    text-align: center;
}

.featured .heading h1 {
    font-size: 48px;
    color: #fff;
    text-align: center;
    background: linear-gradient(45deg, #ffffff, #cccccc); /* Gradiente más claro para destacar sobre el fondo */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5); /* Texto sombreado para mejorar la legibilidad */
    transition: font-size 0.3s ease;
    font-weight: 700; /* Fuente en negrita para añadir profundidad */
}

/* Aplicar efecto metálico */
.featured .heading h1 {
    color: #ddd; /* Base color for metallic effect */
    text-shadow: 
        0 -1px 1px #fff,  
        0 1px 2px rgba(0,0,0,0.8), 
        0 2px 1px rgba(0,0,0,0.5), 
        0 4px 1px rgba(0,0,0,0.1),
        0 6px 1px rgba(0,0,0,0.1),
        0 8px 1px rgba(0,0,0,0.1),
        0 10px 1px rgba(0,0,0,0.2),
        0 20px 3px rgba(0,0,0,0.2),
        0 30px 5px rgba(0,0,0,0.3),
        0 40px 10px rgba(0,0,0,0.4),
        0 70px 20px rgba(0,0,0,0.5),
        0 100px 40px rgba(0,0,0,0.6);
    letter-spacing: 0.05em; /* Espaciado de letras para un look más sofisticado */
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .featured .heading h1 {
        font-size: 34px;
    }
    main{
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .featured .heading h1 {
        font-size: 24px;
    }
    main{
        padding: 10px;
    }
}

@media (max-width: 370px) {
    .featured .heading h1 {
        font-size: 24px;
    }
    main{
        padding: 20px;
    }
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por defecto */
    grid-template-rows: auto; /* Filas establecidas en auto para flexibilidad */
    gap: 20px; /* Espacio entre tarjetas */
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.card {
    width: 100%; /* Ancho ajustado para ser responsive */
    position: relative;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background: #000; /* Fondo negro consistente */
    border: 1px solid transparent; /* Sin borde por defecto */
}

.card:hover {
    transform: translateY(-10px);
}

.card img.art-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative; /* Asegura que la imagen esté posicionada relativa a la tarjeta */
    z-index: 2; /* z-index más alto para que esté sobre el efecto de luz */
}

.card .light {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(0,0,0,0) 40%, rgba(0,0,0,0.6) 100%);
    z-index: 1; /* z-index más bajo para mantener esta capa detrás de la imagen */
    filter: blur(8px); /* Mejorando el efecto de brillo */
}

.art-title {
    margin: 16px 0;
    font-size: 1.2em;
    position: relative; /* Asegura que el título también esté sobre el efecto de luz */
    z-index: 2; /* Mismo z-index que la imagen para estar en la parte superior */
}

.neon-button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2; /* Asegurando que el botón también esté sobre el efecto de luz */
    background-color: #48fc8b; /* Botón verde neón por defecto */
}

.neon-button:hover {
    background-color: #3ae374; /* Tono más oscuro al pasar el mouse */
}

/* Media query para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr; /* 1 columna en dispositivos móviles */
    }
}





/* Individual neon effects for each card */
.card:nth-child(1) {
    filter: drop-shadow(0 0 0.7em #48fc8b);
}

.card:nth-child(2) {
    filter: drop-shadow(0 0 0.7em #1cd0ff);
}

.card:nth-child(3) {
    filter: drop-shadow(0 0 0.7em #ff6e9c);
}

.card:nth-child(4) {
    filter: drop-shadow(0 0 0.7em #e6f511);
}

.card:nth-child(5) {
    filter: drop-shadow(0 0 0.7em #0a73eb);
}

.card:nth-child(6) {
    filter: drop-shadow(0 0 0.7em #8ef10c);
}

