/*Johan*/
section {
    color: white;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: url(../img/logos/indexFondo.webp) no-repeat center center;
    background-size: cover;
}
.action-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-buttons h1 {
    cursor: pointer;
    animation: neonTextGlow 2s linear infinite;
}

@keyframes neonTextGlow {
    from { text-shadow: 0 0 10px #fff; }
    to { text-shadow: 0 0 20px #ff0, 0 0 30px #f0f, 0 0 40px #0ff; }
}

@media (max-width: 1500px) {
    .action-buttons h1 { font-size: 48px; }
}

@media (max-width: 1024px) {
    .welcome-section { flex-direction: column; }
}

@media (max-width: 920px) {
    .action-buttons h1 { font-size: 36px; }
}

@media (max-width: 600px) {
    .welcome-section {
        padding: 20px;
        background-size: contain;
    }
}
