section {
    height: 100vh;
    width: 100%;
    background: url(../img/logos/indexFondo.webp) no-repeat center center; /* Centers the background and ensures it doesn't repeat */
    background-size: cover; /* Cover ensures the entire section is covered */
}

.containerWelcome{
   
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.boxWelcome1, .boxWelcome2, .boxWelcome3, .boxWelcome4 {
    width: 500px;
    height: 300px;
    min-width: 500px; /* Asegura que las cajas no se reduzcan más de este tamaño */
}

@keyframes neonGlow {
    0% { box-shadow: 0 0 10px #ff0000; }
    25% { box-shadow: 0 0 10px #00ff00; }
    50% { box-shadow: 0 0 10px #0000ff; }
    75% { box-shadow: 0 0 10px #ff00ff; }
    100% { box-shadow: 0 0 10px #ff0000; }
}


.separador{
    position: absolute;
}

.boxWelcome1{
  
 display: flex;
 align-items: flex-end;
}

.boxWelcome1 p{
  
    display: flex;
    align-items: flex-end;
    color: white;
    width: 350px;
    min-width: 100px; 
    margin-left: 125px;
    background-color: rgba(0, 0, 0, 0.363);
   }

.boxWelcome2{
    display: flex;
    align-items: flex-end;
   
}
.boxWelcome2 h1{
   font-size: 60px;
   color: white;
   margin-left: 15px;
   
}

.boxWelcome3{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.boxWelcome3 h1{
    font-size: 60px;
    color: white;
    margin-right: 25px;
}

.boxWelcome4{
    
}

.boxWelcome4 p{
    display: flex;
align-items: flex-end;
color: white;
width: 350px;
min-width: 100px;
margin-left: 20px;
background-color: rgba(0, 0, 0, 0.363);
}



